*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.1875em;
  color: var(--bs-highlight-color);
  background-color: var(--bs-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label, .product__card .product__actions svg {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

@keyframes push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.4);
  }
}
*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

input {
  display: none;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease-in-out;
}

li {
  list-style-type: none;
}

.main-body {
  position: relative;
  background-color: #ffefe7;
  font-family: "IBM Plex sans", sans-serif;
}
.main-body__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 55px 0;
  inline-size: 100%;
  block-size: 80px;
}

.logo p {
  font-size: 24px;
  color: #7c6a0a;
}

.navbar ul {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.navbar ul li:last-child {
  margin-right: -10px;
}
.navbar__item {
  margin-right: 30px;
}
.navbar__link {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
}
.navbar__link:hover .tooltip {
  visibility: visible;
}

.ham-menu {
  position: relative;
  display: none;
}
.ham-menu label, .ham-menu .product__card .product__actions svg, .product__card .product__actions .ham-menu svg {
  display: block;
  cursor: pointer;
  background-color: none;
}
.ham-menu__collapsed {
  display: block;
}
.ham-menu__expanded {
  display: none;
}
.ham-menu ul {
  position: absolute;
  top: 40px;
  right: 55px;
  display: flex;
  flex-direction: column;
}
.ham-menu ul li {
  max-height: 0;
  overflow: hidden;
  width: 20vw;
  height: 35px;
  font-size: larger;
  text-align: end;
  line-height: 35px;
  color: #e86424;
  z-index: 1;
}
.ham-menu input:checked ~ label .ham-menu__collapsed, .ham-menu .product__card .product__actions input:checked ~ svg .ham-menu__collapsed, .product__card .product__actions .ham-menu input:checked ~ svg .ham-menu__collapsed {
  display: none;
}
.ham-menu input:checked ~ label .ham-menu__expanded, .ham-menu .product__card .product__actions input:checked ~ svg .ham-menu__expanded, .product__card .product__actions .ham-menu input:checked ~ svg .ham-menu__expanded {
  display: block;
}
.ham-menu input:checked ~ ul li {
  max-height: 100%;
}

.landing {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 55px;
  color: #7c6a0a;
}
.landing article {
  position: relative;
  display: flex;
  margin: 75px 0;
  width: 100%;
  height: auto;
}

.landing-info {
  width: 50%;
  margin: 35px 20px 0 0;
}
.landing-info__title {
  position: relative;
  margin-bottom: 55px;
}
.landing-info__description {
  padding-right: 30px;
  font-size: large;
  line-height: 1.8rem;
}
.landing-info__btn {
  display: inline-block;
  border: none;
  margin-top: 20px;
  border-radius: 35px;
  width: 150px;
  height: 50px;
  background-color: #fa9500;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  color: white;
}
.landing-info__btn:hover {
  background-color: #ec7a2f;
  cursor: pointer;
}
.landing-info__btn--isActive:active {
  animation-name: push;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.landing-aside {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}
.landing-aside__img {
  border-radius: 35px;
  width: 435px;
  height: 500px;
}

.product {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;
}
.product__healthcare, .product__furniture {
  margin-bottom: 50px;
  padding-top: 30px;
}
.product__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, 500px);
  gap: 38px 50px;
  justify-items: center;
}
.product__card {
  border: 0px solid rgb(100, 100, 100);
  border-radius: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 275px;
  height: 450px;
  padding: 50px 38px;
  background-color: #ffdac6;
}
.product__card .product__actions {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
}
.product__card .product__actions label, .product__card .product__actions svg {
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}
.product__card .product__actions input:checked ~ label svg, .product__card .product__actions input:checked ~ svg svg {
  fill: #fcb0bf;
}
.product__card img {
  border: 0px solid rgb(100, 100, 100);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  height: 260px;
}
.product__card figcaption {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  width: 100%;
  height: auto;
  font-size: x-large;
  font-weight: 500;
  white-space: nowrap;
}
.product__copy {
  margin-top: 4px;
  font-size: 0.85rem;
  text-align: center;
}
.product__card--second {
  background-color: #babd8d;
  color: white;
}
.product__card--second .product__actions--second input:checked + label svg, .product__card--second .product__actions--second .product__card .product__actions input:checked + svg svg, .product__card .product__actions .product__card--second .product__actions--second input:checked + svg svg {
  fill: white;
}
.product__actions--second path {
  stroke: white;
}

.info {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;
}
.info__why-us {
  flex-wrap: wrap;
  row-gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}
.info__figure {
  display: flex;
  width: 500px;
  height: auto;
  gap: 15px;
}
.info__figure img {
  object-fit: contain;
}
.info__copy {
  font-size: x-large;
  text-align: center;
  color: #e86424;
}
.info__gallery {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.info__img {
  border: 0px solid rgb(100, 100, 100);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 300px;
  height: 300px;
  transition: transform 0.2s;
}
.info__img img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.info__img:hover {
  transform: scale(1.1);
}

.location {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;
}
.location__map {
  margin-top: 35px;
}
.location__map img {
  width: 100%;
  height: 100%;
}
.location__legend {
  margin-top: 35px;
  margin-bottom: 100px;
}
.location__legend p {
  margin: 10px;
}
.location__subtitle, .location__address {
  font-size: x-large;
  color: #e86424;
}
.location__address {
  font-size: medium;
}

.footer {
  width: 100%;
  padding: 35px 55px;
  background-color: #fa9500;
  color: white;
}
.footer__title {
  font-size: x-large;
  font-weight: 400;
}
.footer ul {
  margin: 30px 0 0 0;
  padding: 0;
}
.footer__item {
  margin-top: 12px;
  cursor: pointer;
  font-size: medium;
}
.footer__item:hover {
  text-decoration: underline;
}
.footer__social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.footer__social-media img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: xx-large;
    font-weight: 500;
    line-height: 36px;
  }
  h2 {
    font-size: x-large;
    font-weight: 400;
  }
  .main-body__header {
    padding: 25px 35px 27px 25px;
  }
  .main-body__header p {
    margin: 0;
  }
  .logo {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .landing {
    padding: 0 27px;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
  }
  .navbar__item {
    display: none;
  }
  .ham-menu {
    display: block;
  }
  .landing {
    padding: 0 27px;
  }
  .landing article {
    flex-direction: column-reverse;
    margin: 0;
  }
  .landing-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
  }
  .landing-info__title {
    margin-bottom: 30px;
  }
  .landing-info__description {
    padding: 0;
    font-size: medium;
    line-height: 24px;
  }
  .landing-info__btn {
    align-self: center;
  }
  .landing-aside {
    width: 100%;
  }
  .landing-aside__img {
    border-radius: 12px;
    height: 380px;
    object-fit: cover;
  }
  .product {
    margin-top: 30px;
  }
  .product__container {
    display: flex;
    gap: 40px;
    width: auto;
    height: 50vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
  .product__card {
    scroll-snap-align: start;
    transition: all 0.2s;
    width: 260px;
    height: 380px;
    padding: 40px 30px;
    border-radius: 12px;
  }
  .product__card .product__actions {
    width: 28px;
    height: 28px;
  }
  .product__card img {
    width: 192px;
    height: 230px;
    object-fit: cover;
  }
  .product__card figcaption {
    justify-content: start;
    margin-top: 10px;
    font-size: large;
  }
  .product__copy {
    display: -webkit-box;
    font-size: small;
    text-align: start;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info__why-us {
    flex-direction: column;
    row-gap: 50px;
    margin: 80px;
  }
  .info__figure {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .info__figure img {
    width: 100px;
    height: 100px;
  }
  .info__copy {
    font-size: large;
  }
  .info__img {
    width: 250px;
    height: 250px;
  }
  .location__map img {
    object-fit: cover;
    height: 500px;
  }
  .location__legend {
    margin-top: 17px;
    margin-bottom: 70px;
  }
  .location__subtitle, .location__address {
    font-size: large;
  }
  .location__address {
    font-size: small;
  }
  .footer {
    padding: 20px 27px;
  }
  .footer ul {
    margin-top: 15px;
  }
  .footer__social-media {
    justify-content: start;
    margin: 20px 0;
  }
  .footer__social-media img {
    width: 20px;
    height: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
