$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$quartenary-color: #fa9500;
$primary-text-color: #7c6a0a;
$secondary-text-color: #e86424;
$font-stack: "IBM Plex sans", sans-serif;
$paragraph-mobile: 12px;
$f-light: 400;
$f-normal: 500;
$f-bold: 700;
