// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

//optional
@import "../../node_modules/bootstrap/scss/reboot";

@mixin push-animation($duration: 0.2s) {
  animation-name: push;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@mixin section-container {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;
}

$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$secondary-text-color: #e86424;
$font-stack: "IBM Plex sans", sans-serif;
$f-light: 400;
$f-normal: 500;
$f-bold: 700;

@keyframes push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease-in-out;
}

li {
  list-style-type: none;
}

.main-body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 55px;
  background-color: $primary-color;
  font-family: $font-stack;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    inline-size: 100%;
    block-size: 80px;
  }
}

.logo {
  p {
    font-size: 24px;
    color: $primary-text-color;
  }
}

.navbar {
  ul {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: auto;

    li:last-child {
      margin-right: -10px;
    }
  }
  &__item {
    margin-right: 30px;
  }
  &__link {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    &:hover .tooltip {
      visibility: visible;
    }
  }
}

.landing {
  color: $primary-text-color;

  article {
    position: relative;
    display: flex;
    margin: 75px 0;
    width: 100%;
    height: auto;
  }
}

.landing-info {
  width: 50%;
  margin: 35px 20px 0 0;

  &__title {
    position: relative;
    margin-bottom: 55px;
  }

  &__description {
    padding-right: 30px;
    font-size: large;
    line-height: 1.8rem;
  }

  &__btn {
    display: inline-block;
    border: none;
    margin-top: 20px;
    border-radius: 35px;
    width: 150px;
    height: 50px;
    background-color: #fa9500;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: #ec7a2f;
      cursor: pointer;
    }

    &:active {
      @include push-animation;
    }
  }
}

.landing-aside {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  &__img {
    border-radius: 35px;
    width: 435px;
    height: 500px;
  }
}

.product {
  @include section-container();

  &__healthcare {
    margin-bottom: 50px;
    padding-top: 30px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, 500px);
    gap: 38px min(50px);
    justify-items: center;
  }

  &__card {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 8px;
    width: 275px;
    height: 450px;
    padding: 50px 38px;
    background-color: $secondary-color;

    .product__actions {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 36px;
      height: 36px;

      button {
        width: 100%;
        height: 100%;

        padding: 0;
        background: none;
        border: none;
      }
      svg {
        @extend button;
      }
    }

    img {
      width: 100%;
      height: 260px;
    }

    figcaption {
      display: flex;
      justify-content: center;
      margin-top: 18px;
      width: 100%;
      height: auto;
      font-size: x-large;
      font-weight: $f-normal;
      white-space: nowrap;
    }
  }
  &__copy {
    margin-top: 4px;
    font-size: 0.85rem;
    text-align: center;
  }
}
