// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

//optional
@import "../../node_modules/bootstrap/scss/reboot";

$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex sans", sans-serif;

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

h1 {
  font-size: 3.5rem;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease-in-out;
}

li {
  list-style-type: none;
}

.main-body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 55px;
  background-color: $primary-color;
  font-family: $font-stack;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    inline-size: 100%;
    block-size: 80px;
  }
}

.logo {
  p {
    font-size: 24px;
    color: $primary-text-color;
  }
}

.navbar {
  ul {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: auto;

    li:last-child {
      margin-right: -10px;
    }
  }
  &__item {
    margin-right: 30px;
  }
  &__link {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    &:hover .tooltip {
      visibility: visible;
    }
  }
}

.landing {
  color: $primary-text-color;

  article {
    display: flex;
    margin-top: 75px;
    width: 100%;
    height: auto;
  }
}

.landing-info {
  width: 50%;
  margin: 35px 20px 0 0;

  &__title {
    position: relative;
    margin-bottom: 55px;
  }

  &__description {
    padding-right: 30px;
    font-size: large;
    line-height: 1.8rem;
  }

  &__btn {
    display: inline-block;
    border: none;
    margin-top: 20px;
    border-radius: 35px;
    width: 150px;
    height: 50px;
    background-color: #fa9500;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    color: white;
  }
}

.landing-aside {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  &__img {
    border-radius: 35px;
    width: 435px;
    height: 500px;
  }
}
