@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";

$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex sans", sans-serif;

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease-in-out;
}

li {
  list-style-type: none;
}

.main-body {
  background-color: $primary-color;
  font-family: $font-stack;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    inline-size: 100%;
    block-size: 80px;
  }
}

.logo {
  p {
    margin-inline-start: 40px;
    font-size: 24px;
    color: $primary-text-color;
  }
}

.navbar {
  ul {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: auto;

    li:last-child {
      margin-right: 40px;
    }
  }
  &__item {
    margin-right: 30px;
  }
  &__link {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    &:hover .tooltip {
      visibility: visible;
    }
  }
}
